[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jedi = "*"
"flake8" = "*"
black = "*"
"autopep8" = "*"
yapf = "*"
jupyterlab = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.6"
